* {
    background-color: black;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div{
    color: white;
    text-align: center;
}
.info {
    margin-top: 25px;
    width: 800px;
    margin-left: 25%;
    color: white;
    background-color: #121212;
    border-radius: 15px;
    padding-bottom: 20px;
    display: flex;

}
.components {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 15px;
    height: 900px;
    background-color: #232323;
}
.working {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #232323;
}
.uses {
    margin-top: 25px;
    width: 800px;
    margin-left: 25%;
    color: white;
    background-color: #232323;
    border-radius: 15px;
    padding-bottom: 20px;
}
.description {
    margin-top: 25px;
    width: 700px;
    height: 320px;
    margin-left: 25%;
    color: white;
    background-color: #232323;
    border-radius: 15px;
    padding-bottom: 20px;
}
h2 {
    background-color: #232323;
}
h3{
    background-color: #232323;
}
h4 {
    background-color: #232323;
}
b {
    background-color: #232323;
}
p {
    background-color: #232323;
}

.home {
    margin-right: 1350px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    position: fixed;
}
.home a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}
.home i {
    color: white;
    font-size: 1.25rem;
}